@page
@using SimpleMessaging.UI.Models
@model MessageViewModel
@{
    ViewData["Title"] = "Messages";
}

<h1 class="text-lg-center">Simple Messages</h1>
<section class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            (message 1 placeholder)
            <span class="badge bg-primary rounded-pill">(age place holder)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            (message 2 placeholder
            <span class="badge bg-primary rounded-pill">(age place holder)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Message 3 placeholder)
            <span class="badge bg-primary rounded-pill">(age place holder)</span>
        </li>
    </ul>
</section>